@model TennisWeb.Models.ResetPasswordModel

@{
  ViewBag.Title = "Passwort Zurücksetzen";
}

@section scripts {
  @Scripts.Render("~/bundles/jqueryval")
}

<h2>Passwort Zurücksetzen</h2>

@using (Html.BeginForm(null, null, FormMethod.Post))
{
  @Html.EditorForModel()

  <input type="submit" name="submit" value="Ok" />
}