<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <switches>
      <!-- RfidTraceLevel: Regelt die Stufe der Log-Einträge. Stufe x enthält immer auch die tieferen Stufen.
            "0" ergibt keine Logeinträge, "1" zeichnet Fehler auf, "2" zusätzlich die Warnungen, "3" detaillierte 
            Informationen, "4" noch detaillierter.-->
      <add name="RfidTraceLevel" value="3"/>
    </switches>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
