@{
    ViewBag.Title = "Rules";
}

@section scripts{
  @Scripts.Render("~/bundle/rules")
}
<h2>Reglement Ranglistenspiel</h2>

@Html.Partial("_TournamentMenu")
<div id="rules-title"><h3>Ranglistenreglement</h3></div>

<div id="rules-wrap">
<h5>Allgemeine Bestimmungen</h5>
<p>1.	Ranglistenspiele sollen der Förderung der Wettkampfpraxis und des Clublebens dienen.</p>
<p>2.	Für die Organisation und Durchführung der Ranglisten- bzw. Forderungsspiele sowie bei Unklarheiten ist der Spielleiter verantwortlich bzw. entscheidet der Spielleiter.</p>
<p>3.	Der Spielleiter kann die unter Punkt 2 aufgeführten Aufgaben delegieren.</p>

<h5>Ranglisten, Teilnahmeberechtigung und Wertung</h5>
<p>4.	Es wird je eine getrennte Rangliste für Damen Einzel und Herren Einzel geführt. 
<p>5.	Teilnahmeberechtigt sind sämtliche Aktivmitglieder einschliesslich Junioren, die in einer IC-Mannschaft des TCT mitspielen sowie Junioren ab 16 Jahren (bzw. dieses Alter im laufenden Jahr erreichen).</p>
<p>6.	Forderungsspiele zählen nur für die clubinterne Rangliste; sie sind nicht Teil der offiziellen Swiss Tennis Klassierungswertung.</p> 

<h5>Dauer und Platzbelegung</h5>
<p>7.	Ranglistenspiele beginnen mit dem Ende der Interclub-Meisterschaften (ca. Anfang Juni) und dauern bis Saisonende.</p>
<p>8.	Für Forderungsspiele kann der Platz für maximal 90 Minuten reserviert werden. Dauert das Spiel länger, so ist auf dem nächsten freien Platz oder bei nächster Gelegenheit weiterzuspielen.</p>
<p>9.	Ranglistenspiele dürfen nicht während Clubmeisterschaften, während der Durchführung von Kursen und anderen vom Club organisierten bzw. autorisierten Anlässen angesetzt werden. Ferner ist bei der Terminfestlegung darauf zu achten, dass Forderungsspiele nicht zu Spitzenzeiten (z.B. an Wochentagen zwischen 18 und 20 Uhr) durchgeführt werden.</p>

<h5>Spielmodus</h5>
<p>10.	Ranglistenspiele gehen über zwei Gewinnsätze mit Tie-Break in den ersten beiden Sätzen und einem Champions-Tie-Break (auf 10 Punkte) anstelle des dritten Satzes. Im Übrigen gelten die Spielregeln gemäss den gültigen Reglementen von Swiss Tennis.</p>
<p>11.	Es ist grundsätzlich mit neuen offiziellen Bällen zu spielen, welche vom Herausforderer zur Verfügung zu stellen sind. </p>

<h5>Forderungsregeln</h5>
<p>12.	Jeder Ranglistenplatz-Inhaber kann jeden höherrangigen Spieler in seiner Reihe, und in der Reihe darüber, alle Personen rechts über ihm, fordern. </p>
  
<p>13.	Forderung:
1) Spieler via E-Mail oder Telefon über Deine Forderung informieren und einen Termin vereinbaren.<br />
2) Terminabklärung und Platzreservation via Stefan Holzer, ss.holzer@bluewin.ch oder 079 286 21 17.<br />
3) Der Gewinner meldet das Spielergebnis raschmöglichst an Stefan Holzer</p>
<p>14.	Der Geforderte muss die Forderung (innerhalb von 2 Wochen) annehmen, ausser:
a.	er ist abwesend (Ferien, Militär etc.);<br />
b.	er ist verletzt, krank oder vom Verantwortlichen dispensiert;<br />
c.	er wurde vom gleichen Spieler in der betreffenden Saison bereits zweimal gefordert (die Forderungen wurden effektiv gespielt).<br />

Treffen keine der Bedingungen a. bis c. zu und der Geforderte nimmt die Herausforderung trotzdem nicht an, so verliert er w.o.</p>
<p>15.	Tritt ein Spieler zum beidseitig festgelegten Termin unbegründet nicht an, verliert er w.o.</p>
<p>16.	Siegt der Forderer, so nimmt er den Rang des Geforderten ein. Der Geforderte und die dazwischen liegenden Spieler verlieren je einen Rang. Verliert der Forderer, ergibt sich keine Änderung in der Rangliste.</p>

<h5>Eintritt</h5>
<p>17.	Der Eintritt in die Rangliste erfolgt durch Forderung eines in der Rangliste stehenden Spielers. Dabei gilt:

	a.	Weist der Forderer einen Klassiserungswert auf, so bestimmt der Spielleiter dessen			Position in der Rangliste. Der Forderer kann dann gemäss Punkt 12 einen Spieler fordern;

b.	Ist der Forderer ein nichtlizenzierter Spieler, so wird er an den Schluss der Rangliste
       gesetzt und kann alle Spieler der untersten Pyramidenreihe (siehe Punkt 12) fordern.</p>
<p>18.	Im Falle eines Sieges nimmt der Forderer die Stelle des Geforderten ein. Der Geforderte und sämtliche hinter ihm stehende Spieler verlieren dadurch einen Rang. </p>
<p>19.	Verliert der Forderer das Spiel, so bleibt er auf seiner zugeteilten Position (Fall 17. a.) bzw. verbleibt am Ende der Rangliste (Fall 17. b.).</p> 

<h5>Austritt</h5>
<p>20.	Das Ausscheiden aus der Rangliste erfolgt durch Mitteilung an den Spielleiter bzw. den Ranglisten-Verantwortlichen. </p>

<h5>Übergangsreglement</h5>
<p>21.	Zum Start der Forderungsspiele 2013 werden alle Interclubspieler gemäss Ihrer Klassierung provisorisch in die Rangliste aufgenommen. Der freiwillige Austritt gemäss Ziffer 20 ist auch in der Startphase möglich.</p>
  </div>

<div id="back-ranked">
  <p>zurück</p>
</div>