USE [master]
GO
/****** Object:  Database [TennisChallenge]    Script Date: 07/28/2014 13:59:47 ******/
CREATE DATABASE [TennisChallenge] ON  PRIMARY 
( NAME = N'TennisChallenge', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TennisChallenge.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TennisChallenge_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TennisChallenge_1.ldf' , SIZE = 8384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TennisChallenge].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TennisChallenge]
GO
/****** Object:  User [TennisUser]    Script Date: 07/28/2014 13:59:47 ******/
CREATE USER [TennisUser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [CL75004_tennis_challenge]    Script Date: 07/28/2014 13:59:47 ******/
CREATE USER [CL75004_tennis_challenge] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[CL75004_tennis_challenge]
GO
/****** Object:  User [CL75004_beckbringts]    Script Date: 07/28/2014 13:59:47 ******/
CREATE USER [CL75004_beckbringts] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[CL75004_beckbringts]
GO
/****** Object:  Role [aspnet_Membership_BasicAccess]    Script Date: 07/28/2014 13:59:47 ******/
CREATE ROLE [aspnet_Membership_BasicAccess] AUTHORIZATION [dbo]
GO
/****** Object:  Role [aspnet_Membership_ReportingAccess]    Script Date: 07/28/2014 13:59:47 ******/
CREATE ROLE [aspnet_Membership_ReportingAccess] AUTHORIZATION [dbo]
GO
/****** Object:  Role [aspnet_Membership_FullAccess]    Script Date: 07/28/2014 13:59:47 ******/
CREATE ROLE [aspnet_Membership_FullAccess] AUTHORIZATION [dbo]
GO
/****** Object:  Role [aspnet_Roles_BasicAccess]    Script Date: 07/28/2014 13:59:47 ******/
CREATE ROLE [aspnet_Roles_BasicAccess] AUTHORIZATION [dbo]
GO
/****** Object:  Role [aspnet_Roles_ReportingAccess]    Script Date: 07/28/2014 13:59:47 ******/
CREATE ROLE [aspnet_Roles_ReportingAccess] AUTHORIZATION [dbo]
GO
/****** Object:  Role [aspnet_Roles_FullAccess]    Script Date: 07/28/2014 13:59:47 ******/
CREATE ROLE [aspnet_Roles_FullAccess] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [CL75004_tennis_challenge]    Script Date: 07/28/2014 13:59:47 ******/
CREATE SCHEMA [CL75004_tennis_challenge] AUTHORIZATION [CL75004_tennis_challenge]
GO
/****** Object:  Schema [CL75004_beckbringts]    Script Date: 07/28/2014 13:59:47 ******/
CREATE SCHEMA [CL75004_beckbringts] AUTHORIZATION [CL75004_beckbringts]
GO
/****** Object:  Schema [aspnet_Roles_ReportingAccess]    Script Date: 07/28/2014 13:59:47 ******/
CREATE SCHEMA [aspnet_Roles_ReportingAccess] AUTHORIZATION [aspnet_Roles_ReportingAccess]
GO
/****** Object:  Schema [aspnet_Roles_FullAccess]    Script Date: 07/28/2014 13:59:47 ******/
CREATE SCHEMA [aspnet_Roles_FullAccess] AUTHORIZATION [aspnet_Roles_FullAccess]
GO
/****** Object:  Schema [aspnet_Roles_BasicAccess]    Script Date: 07/28/2014 13:59:47 ******/
CREATE SCHEMA [aspnet_Roles_BasicAccess] AUTHORIZATION [aspnet_Roles_BasicAccess]
GO
/****** Object:  Schema [aspnet_Membership_ReportingAccess]    Script Date: 07/28/2014 13:59:47 ******/
CREATE SCHEMA [aspnet_Membership_ReportingAccess] AUTHORIZATION [aspnet_Membership_ReportingAccess]
GO
/****** Object:  Schema [aspnet_Membership_FullAccess]    Script Date: 07/28/2014 13:59:47 ******/
CREATE SCHEMA [aspnet_Membership_FullAccess] AUTHORIZATION [aspnet_Membership_FullAccess]
GO
/****** Object:  Schema [aspnet_Membership_BasicAccess]    Script Date: 07/28/2014 13:59:47 ******/
CREATE SCHEMA [aspnet_Membership_BasicAccess] AUTHORIZATION [aspnet_Membership_BasicAccess]
GO
/****** Object:  Table [dbo].[Title]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Title](
	[TitleKey] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Title] PRIMARY KEY CLUSTERED 
(
	[TitleKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Title] ON
INSERT [dbo].[Title] ([TitleKey], [Name]) VALUES (1, N'Frau')
INSERT [dbo].[Title] ([TitleKey], [Name]) VALUES (2, N'Herr')
SET IDENTITY_INSERT [dbo].[Title] OFF
/****** Object:  Table [dbo].[Country]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryKey] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Country] ON
INSERT [dbo].[Country] ([CountryKey], [Name]) VALUES (1, N'Schweiz')
SET IDENTITY_INSERT [dbo].[Country] OFF
/****** Object:  Table [dbo].[Club]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Club](
	[ClubKey] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [nvarchar](250) NULL,
	[AdvertisementsPerNewsFeed] [int] NOT NULL,
 CONSTRAINT [PK_Club_1] PRIMARY KEY CLUSTERED 
(
	[ClubKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Club] ([ClubKey], [Name], [AdvertisementsPerNewsFeed]) VALUES (N'62386884-e8a7-4121-b316-11e7443a13d4', N'TC Thalwil', 2)
INSERT [dbo].[Club] ([ClubKey], [Name], [AdvertisementsPerNewsFeed]) VALUES (N'3a805d6e-e753-4ac8-b19d-3e5983ad0ee8', N'TC Rüschlikon', 0)
/****** Object:  Table [dbo].[BookingSeries]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BookingSeries](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationName] [nvarchar](235) NOT NULL,
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Applications] ([ApplicationName], [ApplicationId], [Description]) VALUES (N'/', N'97d2fc2e-c45f-4aa7-ab94-f844e320ceea', NULL)
/****** Object:  Table [dbo].[Tournaments]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tournaments](
	[TournamentId] [uniqueidentifier] NOT NULL,
	[TournamentType] [int] NULL,
	[TournamentOpen] [int] NULL,
	[Mode] [int] NULL,
	[TournComment] [varchar](200) NULL,
	[Closed] [bit] NOT NULL,
	[LinkUrl] [char](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TournamentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Tournaments] ([TournamentId], [TournamentType], [TournamentOpen], [Mode], [TournComment], [Closed], [LinkUrl]) VALUES (N'5087e240-1c83-4c2a-8f74-0e7e4bdfd03c', 3, NULL, 0, N'Neues Turnier', 1, NULL)
INSERT [dbo].[Tournaments] ([TournamentId], [TournamentType], [TournamentOpen], [Mode], [TournComment], [Closed], [LinkUrl]) VALUES (N'338f902f-c33d-4e94-8643-5c6a57836247', 0, NULL, 1, N'tzu', 0, NULL)
INSERT [dbo].[Tournaments] ([TournamentId], [TournamentType], [TournamentOpen], [Mode], [TournComment], [Closed], [LinkUrl]) VALUES (N'569ce875-82d2-4c7e-b35a-8e983615a311', 2, NULL, 1, N'lkjhadfguirturiturituritu', 0, NULL)
/****** Object:  Table [dbo].[TournamentLadder]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentLadder](
	[LadderId] [uniqueidentifier] NOT NULL,
	[List] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LadderId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TournamentLadder] ([LadderId], [List]) VALUES (N'338f902f-c33d-4e94-8643-5c6a57836247', NULL)
INSERT [dbo].[TournamentLadder] ([LadderId], [List]) VALUES (N'569ce875-82d2-4c7e-b35a-8e983615a311', NULL)
INSERT [dbo].[TournamentLadder] ([LadderId], [List]) VALUES (N'4fd55ec4-a13a-4b8d-94a0-b139938aa4a7', NULL)
/****** Object:  Table [dbo].[Users]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[IsAnonymous] [bit] NOT NULL,
	[LastActivityDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IDX_UserName] ON [dbo].[Users] 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([ApplicationId], [UserId], [UserName], [IsAnonymous], [LastActivityDate]) VALUES (N'97d2fc2e-c45f-4aa7-ab94-f844e320ceea', N'fd6d2eb5-d229-440b-ac4d-005496d3fcd2', N'roth@bluewin.ch', 0, CAST(0x0000A0E000BFB641 AS DateTime))
INSERT [dbo].[Users] ([ApplicationId], [UserId], [UserName], [IsAnonymous], [LastActivityDate]) VALUES (N'97d2fc2e-c45f-4aa7-ab94-f844e320ceea', N'cbab2483-2361-4464-b3e6-0078a1fdcab6', N'maxmueller10@bluewin.ch', 0, CAST(0x0000A0E100F41585 AS DateTime))
INSERT [dbo].[Users] ([ApplicationId], [UserId], [UserName], [IsAnonymous], [LastActivityDate]) VALUES (N'97d2fc2e-c45f-4aa7-ab94-f844e320ceea', N'92116bbf-8490-4e9d-aea2-0217ac6b4a34', N'b.privel@gmx.ch', 0, CAST(0x0000A0DD0116AD9A AS DateTime))
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Court]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Court](
	[CourtKey] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ClubFk] [uniqueidentifier] NOT NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Court] PRIMARY KEY CLUSTERED 
(
	[CourtKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Court] ([CourtKey], [Name], [ClubFk], [Id]) VALUES (N'03548353-fb80-402f-8f18-641d9bb025f7', N'Platz 3', N'62386884-e8a7-4121-b316-11e7443a13d4', 2)
INSERT [dbo].[Court] ([CourtKey], [Name], [ClubFk], [Id]) VALUES (N'622c7b29-1136-4abe-bfd4-76b40ecf4e1d', N'Platz 1', N'62386884-e8a7-4121-b316-11e7443a13d4', 0)
INSERT [dbo].[Court] ([CourtKey], [Name], [ClubFk], [Id]) VALUES (N'7199d6b4-c5ee-4e34-b571-8fb7e1706a6e', N'Platz 4', N'62386884-e8a7-4121-b316-11e7443a13d4', 3)
/****** Object:  Table [dbo].[Advertisements]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Advertisements](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[ImageUrl] [varchar](max) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Duration] [int] NOT NULL,
	[Monday] [bit] NOT NULL,
	[Tuesday] [bit] NOT NULL,
	[Wednesday] [bit] NOT NULL,
	[Thursday] [bit] NOT NULL,
	[Friday] [bit] NOT NULL,
	[Saturday] [bit] NOT NULL,
	[Sunday] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[EMail] [varchar](max) NULL,
	[Feedback] [bit] NULL,
	[ClubKey] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Advertisements] ([Id], [Name], [ImageUrl], [StartTime], [EndTime], [Duration], [Monday], [Tuesday], [Wednesday], [Thursday], [Friday], [Saturday], [Sunday], [Active], [EMail], [Feedback], [ClubKey]) VALUES (N'74080496-026b-4e9f-86f6-fa8167c8a410', N'dghdfgh', N'~/advertisement_images/0c4014e8-2d9a-4d4a-a6a3-3af90309e492.png', CAST(0x0000A23C00107AC0 AS DateTime), CAST(0x0000A23C0020F580 AS DateTime), 2, 0, 0, 0, 0, 0, 0, 0, 1, NULL, NULL, N'62386884-e8a7-4121-b316-11e7443a13d4')
/****** Object:  Table [dbo].[Roles]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Roles] ([ApplicationId], [RoleId], [RoleName], [Description]) VALUES (N'97d2fc2e-c45f-4aa7-ab94-f844e320ceea', N'f8180b5c-d177-43aa-ab11-0a223ea68c83', N'topicalitymanger', N'Kann aktualitäten bearbeiten.')
INSERT [dbo].[Roles] ([ApplicationId], [RoleId], [RoleName], [Description]) VALUES (N'97d2fc2e-c45f-4aa7-ab94-f844e320ceea', N'e4943c2d-7bf7-4e67-b3c2-2b909d9cc121', N'advertisementmanager', N'Kann Werbung festlegen.')
INSERT [dbo].[Roles] ([ApplicationId], [RoleId], [RoleName], [Description]) VALUES (N'97d2fc2e-c45f-4aa7-ab94-f844e320ceea', N'61a59123-ca59-41f8-8998-2ca01779423c', N'tennisteacher', N'Kann die Tennisplätze im voraus und beliebig lange buchen.')
/****** Object:  Table [dbo].[NewsFeeds]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NewsFeeds](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](max) NULL,
	[Url] [varchar](max) NULL,
	[Duration] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[ClubKey] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Memberships]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Memberships](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordFormat] [int] NOT NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[PasswordQuestion] [nvarchar](256) NULL,
	[PasswordAnswer] [nvarchar](128) NULL,
	[IsApproved] [bit] NOT NULL,
	[IsLockedOut] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NOT NULL,
	[LastPasswordChangedDate] [datetime] NOT NULL,
	[LastLockoutDate] [datetime] NOT NULL,
	[FailedPasswordAttemptCount] [int] NOT NULL,
	[FailedPasswordAttemptWindowStart] [datetime] NOT NULL,
	[FailedPasswordAnswerAttemptCount] [int] NOT NULL,
	[FailedPasswordAnswerAttemptWindowsStart] [datetime] NOT NULL,
	[Comment] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Member]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberKey] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Lastname] [nvarchar](50) NULL,
	[Firstname] [nvarchar](50) NULL,
	[Active] [bit] NOT NULL,
	[TitleFk] [smallint] NULL,
	[Birthday] [date] NULL,
	[Street] [nvarchar](50) NULL,
	[Zip] [nvarchar](10) NULL,
	[City] [nvarchar](50) NULL,
	[CountryFk] [smallint] NULL,
	[PrivatePhone] [nvarchar](50) NULL,
	[BusinessPhone] [nvarchar](50) NULL,
	[MobilePhone] [nvarchar](50) NULL,
	[LicenseNumber] [nvarchar](50) NULL,
	[Classification] [nvarchar](10) NULL,
	[ClassificationUpdate] [datetime] NULL,
	[PictureUrl] [nvarchar](150) NULL,
	[TournamentId] [uniqueidentifier] NULL,
	[TournamentPoints] [int] NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Member] ([MemberKey], [Lastname], [Firstname], [Active], [TitleFk], [Birthday], [Street], [Zip], [City], [CountryFk], [PrivatePhone], [BusinessPhone], [MobilePhone], [LicenseNumber], [Classification], [ClassificationUpdate], [PictureUrl], [TournamentId], [TournamentPoints]) VALUES (N'fd6d2eb5-d229-440b-ac4d-005496d3fcd2', N'Roth', N'Alexander', 1, 2, CAST(0x71F50A00 AS Date), N'Mülibachstrasse 33', N'8805', N'Richterswil', NULL, N'044 7212437', NULL, N'079 341 9098', NULL, N'T1', NULL, NULL, NULL, NULL)
INSERT [dbo].[Member] ([MemberKey], [Lastname], [Firstname], [Active], [TitleFk], [Birthday], [Street], [Zip], [City], [CountryFk], [PrivatePhone], [BusinessPhone], [MobilePhone], [LicenseNumber], [Classification], [ClassificationUpdate], [PictureUrl], [TournamentId], [TournamentPoints]) VALUES (N'cbab2483-2361-4464-b3e6-0078a1fdcab6', N'Müller', N'Max', 1, 2, CAST(0x81CF0A00 AS Date), N'Seehaldenstrasse 64', N'8800 ', N'Thalwil', NULL, N'044 720 25 32', NULL, N'079 402 33 13', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Member] ([MemberKey], [Lastname], [Firstname], [Active], [TitleFk], [Birthday], [Street], [Zip], [City], [CountryFk], [PrivatePhone], [BusinessPhone], [MobilePhone], [LicenseNumber], [Classification], [ClassificationUpdate], [PictureUrl], [TournamentId], [TournamentPoints]) VALUES (N'92116bbf-8490-4e9d-aea2-0217ac6b4a34', N'Privrel', N'barbara', 0, 1, CAST(0x5F060B00 AS Date), N'Sihlthalstrasse 68', N'8135', N'Langnau am Albis', NULL, NULL, NULL, N'076 3368991', NULL, NULL, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[AdvertisementShowings]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdvertisementShowings](
	[Id] [uniqueidentifier] NOT NULL,
	[Showed] [datetime] NOT NULL,
	[AdvertisementFk] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersInClubs]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersInClubs](
	[UsersInClubsKey] [uniqueidentifier] NOT NULL,
	[UserFK] [uniqueidentifier] NOT NULL,
	[ClubFK] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsersInClubsKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_UserFK_ClubFK_unique] UNIQUE NONCLUSTERED 
(
	[UserFK] ASC,
	[ClubFK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[UsersInClubs] ([UsersInClubsKey], [UserFK], [ClubFK]) VALUES (N'26c68e61-3203-41e7-9fc3-778f6abdf38e', N'fd6d2eb5-d229-440b-ac4d-005496d3fcd2', N'62386884-e8a7-4121-b316-11e7443a13d4')
INSERT [dbo].[UsersInClubs] ([UsersInClubsKey], [UserFK], [ClubFK]) VALUES (N'5052d4d9-c89c-489f-be72-d8785a216613', N'cbab2483-2361-4464-b3e6-0078a1fdcab6', N'62386884-e8a7-4121-b316-11e7443a13d4')
INSERT [dbo].[UsersInClubs] ([UsersInClubsKey], [UserFK], [ClubFK]) VALUES (N'397edc97-3938-44e8-bf40-02ee44b1f07e', N'92116bbf-8490-4e9d-aea2-0217ac6b4a34', N'62386884-e8a7-4121-b316-11e7443a13d4')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Profiles]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[UserId] [uniqueidentifier] NOT NULL,
	[PropertyNames] [nvarchar](4000) NOT NULL,
	[PropertyValueStrings] [nvarchar](4000) NOT NULL,
	[PropertyValueBinary] [image] NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsFeedShowings]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsFeedShowings](
	[Id] [uniqueidentifier] NOT NULL,
	[Showed] [datetime] NOT NULL,
	[NewsFeedFk] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersInRoles]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersInRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersInClubsInRoles]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersInClubsInRoles](
	[UsersInClubsFK] [uniqueidentifier] NOT NULL,
	[RolesFK] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsersInClubsFK] ASC,
	[RolesFK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_UsersInClubsFK_RolesFK_unique] UNIQUE NONCLUSTERED 
(
	[UsersInClubsFK] ASC,
	[RolesFK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[UsersInClubsInRoles] ([UsersInClubsFK], [RolesFK]) VALUES (N'2b482302-f36c-41ae-ba3c-71eb8d12bd0c', N'f8180b5c-d177-43aa-ab11-0a223ea68c83')
INSERT [dbo].[UsersInClubsInRoles] ([UsersInClubsFK], [RolesFK]) VALUES (N'2b482302-f36c-41ae-ba3c-71eb8d12bd0c', N'e4943c2d-7bf7-4e67-b3c2-2b909d9cc121')
INSERT [dbo].[UsersInClubsInRoles] ([UsersInClubsFK], [RolesFK]) VALUES (N'2b482302-f36c-41ae-ba3c-71eb8d12bd0c', N'61a59123-ca59-41f8-8998-2ca01779423c')
/****** Object:  Table [dbo].[UserAd]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserAd](
	[UserAdId] [uniqueidentifier] NOT NULL,
	[UserInClubFk] [uniqueidentifier] NULL,
	[AdText] [varchar](max) NULL,
	[AdType] [int] NULL,
	[CreationTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserAdId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TournamentMember]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentMember](
	[TMemberId] [uniqueidentifier] NOT NULL,
	[MemberFk] [uniqueidentifier] NOT NULL,
	[TournamentFk] [uniqueidentifier] NOT NULL,
	[TournamentPoints] [int] NULL,
	[TeamId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[TMemberId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingBase]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingBase](
	[BookingKey] [uniqueidentifier] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[CourtFk] [uniqueidentifier] NOT NULL,
	[Member0Fk] [uniqueidentifier] NOT NULL,
	[Member1Fk] [uniqueidentifier] NULL,
	[Member2Fk] [uniqueidentifier] NULL,
	[Member3Fk] [uniqueidentifier] NULL,
	[BookingType] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[BookingSeriesFk] [uniqueidentifier] NULL,
	[TournamentId] [uniqueidentifier] NULL,
	[TournamentRound] [int] NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[BookingKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BookingBase] ([BookingKey], [StartTime], [EndTime], [CourtFk], [Member0Fk], [Member1Fk], [Member2Fk], [Member3Fk], [BookingType], [Comment], [BookingSeriesFk], [TournamentId], [TournamentRound]) VALUES (N'66902a74-8a40-494b-9f4e-0106f5c78a0b', CAST(0x0000A37000735B40 AS DateTime), CAST(0x0000A3700083D600 AS DateTime), N'136825fc-db79-4d4b-bfbe-fb5849b2829e', N'a617f4f9-ffb4-4262-803f-f67c4d3946a8', NULL, NULL, NULL, 2, NULL, NULL, NULL, NULL)
INSERT [dbo].[BookingBase] ([BookingKey], [StartTime], [EndTime], [CourtFk], [Member0Fk], [Member1Fk], [Member2Fk], [Member3Fk], [BookingType], [Comment], [BookingSeriesFk], [TournamentId], [TournamentRound]) VALUES (N'7c5d60b0-560a-4db7-94cd-01cd38b8e2c8', CAST(0x00009F7400B6ABBD AS DateTime), CAST(0x00009F7400C307BC AS DateTime), N'622c7b29-1136-4abe-bfd4-76b40ecf4e1d', N'46ab9555-057c-42e4-b889-afa20e21e1d0', NULL, NULL, NULL, 0, N'Neues Turnier', NULL, N'5087e240-1c83-4c2a-8f74-0e7e4bdfd03c', NULL)
INSERT [dbo].[BookingBase] ([BookingKey], [StartTime], [EndTime], [CourtFk], [Member0Fk], [Member1Fk], [Member2Fk], [Member3Fk], [BookingType], [Comment], [BookingSeriesFk], [TournamentId], [TournamentRound]) VALUES (N'b717e616-c27e-4e85-ba9a-020f3745d08b', CAST(0x0000A24600B54640 AS DateTime), CAST(0x0000A24600C5C100 AS DateTime), N'136825fc-db79-4d4b-bfbe-fb5849b2829e', N'a617f4f9-ffb4-4262-803f-f67c4d3946a8', NULL, NULL, NULL, 2, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[Bank]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[TransactionId] [uniqueidentifier] NOT NULL,
	[MemberFk] [uniqueidentifier] NULL,
	[TransactionDate] [datetime] NULL,
	[ValueAmount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bank] ([TransactionId], [MemberFk], [TransactionDate], [ValueAmount]) VALUES (N'56e38502-c1db-48f9-b4ac-03e00ce673b0', N'a617f4f9-ffb4-4262-803f-f67c4d3946a8', CAST(0x0000A32C0114E834 AS DateTime), 12)
INSERT [dbo].[Bank] ([TransactionId], [MemberFk], [TransactionDate], [ValueAmount]) VALUES (N'fb7c57db-d9af-40a6-9396-4333522faa02', N'a617f4f9-ffb4-4262-803f-f67c4d3946a8', CAST(0x0000A32C01160141 AS DateTime), 12)
INSERT [dbo].[Bank] ([TransactionId], [MemberFk], [TransactionDate], [ValueAmount]) VALUES (N'e5979fc1-cc92-4c92-bda7-4cb9c3538902', N'a617f4f9-ffb4-4262-803f-f67c4d3946a8', CAST(0x0000A32C01154000 AS DateTime), 12.5)
/****** Object:  Table [dbo].[Rfid]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rfid](
	[RfidKey] [uniqueidentifier] NOT NULL,
	[Id] [nvarchar](20) NOT NULL,
	[Active] [bit] NOT NULL,
	[MemberFk] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Rfid] PRIMARY KEY CLUSTERED 
(
	[RfidKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Rfid_unique] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Rfid] ([RfidKey], [Id], [Active], [MemberFk]) VALUES (N'58e9b0b9-d6ee-4daf-9eaa-09dfb098d3fb', N'4400B01BAB', 1, N'4444dddb-5046-4581-8613-391b39dc80fd')
INSERT [dbo].[Rfid] ([RfidKey], [Id], [Active], [MemberFk]) VALUES (N'd0712e25-c59d-4f76-909f-09f8bcf213d8', N'4700513F50', 1, N'6dedfed1-8ef7-4a6e-8d6b-9e2dcc256ef7')
INSERT [dbo].[Rfid] ([RfidKey], [Id], [Active], [MemberFk]) VALUES (N'826bfc6e-8977-4646-aba0-0ef03b55c2e1', N'4400B01868', 1, N'df3ad1a7-e3ee-4293-ad9d-7727e92845cd')
/****** Object:  Table [dbo].[RankedMember]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RankedMember](
	[RankedMemberKey] [uniqueidentifier] NOT NULL,
	[RankedMemberFk] [uniqueidentifier] NOT NULL,
	[ClubRank] [int] NULL,
	[FormerClubRank] [int] NULL,
	[SwissTennisRank] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RankedMemberKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RankedMemberFk] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RankedMember] ([RankedMemberKey], [RankedMemberFk], [ClubRank], [FormerClubRank], [SwissTennisRank]) VALUES (N'b6b31675-6d5b-4173-878a-021d2488ec60', N'5522c0b5-c6f4-4b31-81de-23f2d7f92e4b', 7, 6, 0)
INSERT [dbo].[RankedMember] ([RankedMemberKey], [RankedMemberFk], [ClubRank], [FormerClubRank], [SwissTennisRank]) VALUES (N'adf732a8-cf68-4dc7-b548-0c8754678331', N'0b691efb-c627-4b78-b7e5-c7c94cf6e4b1', 7, 3, 0)
INSERT [dbo].[RankedMember] ([RankedMemberKey], [RankedMemberFk], [ClubRank], [FormerClubRank], [SwissTennisRank]) VALUES (N'a4335a10-119b-4d60-9aaa-0d4f911f0dad', N'7a0206bc-4488-47f8-bafc-f9088c1e6aa5', 5, NULL, 0)
/****** Object:  Table [dbo].[RankedGame]    Script Date: 07/28/2014 13:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RankedGame](
	[RankedGameKey] [uniqueidentifier] NOT NULL,
	[BookingFk] [uniqueidentifier] NULL,
	[WinnerFk] [uniqueidentifier] NULL,
	[Player1ScoreFirst] [int] NULL,
	[Player2ScoreFirst] [int] NULL,
	[Player1ScoreSecond] [int] NULL,
	[Player2ScoreSecond] [int] NULL,
	[Player1ScoreTie] [int] NULL,
	[Player2ScoreTie] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RankedGameKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BookingFk] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RankedGame] ([RankedGameKey], [BookingFk], [WinnerFk], [Player1ScoreFirst], [Player2ScoreFirst], [Player1ScoreSecond], [Player2ScoreSecond], [Player1ScoreTie], [Player2ScoreTie]) VALUES (N'171c9b95-d9e8-4ee6-be5b-0737414947ef', N'270ca643-f4ba-468c-b01b-1161c9c100ee', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[RankedGame] ([RankedGameKey], [BookingFk], [WinnerFk], [Player1ScoreFirst], [Player2ScoreFirst], [Player1ScoreSecond], [Player2ScoreSecond], [Player1ScoreTie], [Player2ScoreTie]) VALUES (N'd3b04755-6bcf-449b-bc61-137090200fab', N'de20a2be-d13d-4e18-be45-e5b36fd2f036', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[RankedGame] ([RankedGameKey], [BookingFk], [WinnerFk], [Player1ScoreFirst], [Player2ScoreFirst], [Player1ScoreSecond], [Player2ScoreSecond], [Player1ScoreTie], [Player2ScoreTie]) VALUES (N'fab62e67-936d-41b8-b7da-2ba9ea027525', N'71012f50-bbbe-4854-9bac-a3eda242d813', N'1941a2bf-c13b-4458-b0dd-d32934313789', 6, 0, 6, 0, 6, 0)
/****** Object:  Default [DF_Club_clubKey_1]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Club] ADD  CONSTRAINT [DF_Club_clubKey_1]  DEFAULT (newid()) FOR [ClubKey]
GO
/****** Object:  Default [DF__Club__Advertisem__1EC48A19]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Club] ADD  DEFAULT ((0)) FOR [AdvertisementsPerNewsFeed]
GO
/****** Object:  Default [DF__BookingSerie__Id__0F4D3C5F]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[BookingSeries] ADD  DEFAULT (newid()) FOR [Id]
GO
/****** Object:  Default [DF__Tournamen__Tourn__55AAAAAF]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Tournaments] ADD  DEFAULT (newid()) FOR [TournamentId]
GO
/****** Object:  Default [DF__Tournamen__Close__24D2692A]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Tournaments] ADD  DEFAULT ((0)) FOR [Closed]
GO
/****** Object:  Default [DF_Court_CourtKey]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Court] ADD  CONSTRAINT [DF_Court_CourtKey]  DEFAULT (newid()) FOR [CourtKey]
GO
/****** Object:  Default [DF__Advertisemen__Id__59E54FE7]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Advertisements] ADD  DEFAULT (newid()) FOR [Id]
GO
/****** Object:  Default [DF__NewsFeeds__Id__5F9E293D]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[NewsFeeds] ADD  DEFAULT (newid()) FOR [Id]
GO
/****** Object:  Default [DF_Member_MemberKey]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [DF_Member_MemberKey]  DEFAULT (newid()) FOR [MemberKey]
GO
/****** Object:  Default [DF_Member_Active]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [DF_Member_Active]  DEFAULT ((1)) FOR [Active]
GO
/****** Object:  Default [DF__Advertisemen__Id__65570293]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[AdvertisementShowings] ADD  DEFAULT (newid()) FOR [Id]
GO
/****** Object:  Default [DF__UsersInCl__Users__25A691D2]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[UsersInClubs] ADD  DEFAULT (newid()) FOR [UsersInClubsKey]
GO
/****** Object:  Default [DF__NewsFeedShow__Id__6B0FDBE9]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[NewsFeedShowings] ADD  DEFAULT (newid()) FOR [Id]
GO
/****** Object:  Default [DF__UserAd__UserAdId__733B0D96]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[UserAd] ADD  DEFAULT (newid()) FOR [UserAdId]
GO
/****** Object:  Default [DF__Tournamen__TMemb__1E256B9B]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[TournamentMember] ADD  DEFAULT (newid()) FOR [TMemberId]
GO
/****** Object:  Default [DF__Tournamen__TeamI__3508D0F3]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[TournamentMember] ADD  DEFAULT (NULL) FOR [TeamId]
GO
/****** Object:  Default [DF_Booking_BookingKey]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[BookingBase] ADD  CONSTRAINT [DF_Booking_BookingKey]  DEFAULT (newid()) FOR [BookingKey]
GO
/****** Object:  Default [DF_BookingBase_BookingType]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[BookingBase] ADD  CONSTRAINT [DF_BookingBase_BookingType]  DEFAULT ((0)) FOR [BookingType]
GO
/****** Object:  Default [DF__Bank__Transactio__66D536B1]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Bank] ADD  DEFAULT (newid()) FOR [TransactionId]
GO
/****** Object:  Default [DF_Rfid_RfidKey]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Rfid] ADD  CONSTRAINT [DF_Rfid_RfidKey]  DEFAULT (newid()) FOR [RfidKey]
GO
/****** Object:  Default [DF_Rfid_Active]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Rfid] ADD  CONSTRAINT [DF_Rfid_Active]  DEFAULT ((1)) FOR [Active]
GO
/****** Object:  Default [DF__RankedMem__Ranke__6521F869]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[RankedMember] ADD  DEFAULT (newid()) FOR [RankedMemberKey]
GO
/****** Object:  Default [DF__RankedGam__Ranke__6DB73E6A]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[RankedGame] ADD  DEFAULT (newid()) FOR [RankedGameKey]
GO
/****** Object:  ForeignKey [FK__Tournamen__Ladde__5A6F5FCC]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[TournamentLadder]  WITH CHECK ADD FOREIGN KEY([LadderId])
REFERENCES [dbo].[Tournaments] ([TournamentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [UserApplication]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [UserApplication] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [UserApplication]
GO
/****** Object:  ForeignKey [FK_Court_Club]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Court]  WITH CHECK ADD  CONSTRAINT [FK_Court_Club] FOREIGN KEY([ClubFk])
REFERENCES [dbo].[Club] ([ClubKey])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Court] CHECK CONSTRAINT [FK_Court_Club]
GO
/****** Object:  ForeignKey [FK__Advertise__ClubK__5AD97420]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Advertisements]  WITH CHECK ADD FOREIGN KEY([ClubKey])
REFERENCES [dbo].[Club] ([ClubKey])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [RoleApplication]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [RoleApplication] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [RoleApplication]
GO
/****** Object:  ForeignKey [FK__NewsFeeds__ClubK__60924D76]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[NewsFeeds]  WITH CHECK ADD FOREIGN KEY([ClubKey])
REFERENCES [dbo].[Club] ([ClubKey])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [MembershipApplication]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Memberships]  WITH CHECK ADD  CONSTRAINT [MembershipApplication] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[Memberships] CHECK CONSTRAINT [MembershipApplication]
GO
/****** Object:  ForeignKey [MembershipUser]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Memberships]  WITH CHECK ADD  CONSTRAINT [MembershipUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Memberships] CHECK CONSTRAINT [MembershipUser]
GO
/****** Object:  ForeignKey [FK__Member__Tourname__5C57A83E]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Member]  WITH CHECK ADD FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournaments] ([TournamentId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
/****** Object:  ForeignKey [FK__Member__Users]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK__Member__Users] FOREIGN KEY([MemberKey])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK__Member__Users]
GO
/****** Object:  ForeignKey [FK_Member_Country]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Country] FOREIGN KEY([CountryFk])
REFERENCES [dbo].[Country] ([CountryKey])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Country]
GO
/****** Object:  ForeignKey [FK_Member_Title]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Title] FOREIGN KEY([TitleFk])
REFERENCES [dbo].[Title] ([TitleKey])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Title]
GO
/****** Object:  ForeignKey [FK__Advertise__Adver__664B26CC]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[AdvertisementShowings]  WITH CHECK ADD FOREIGN KEY([AdvertisementFk])
REFERENCES [dbo].[Advertisements] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__UsersInCl__ClubF__278EDA44]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[UsersInClubs]  WITH CHECK ADD FOREIGN KEY([ClubFK])
REFERENCES [dbo].[Club] ([ClubKey])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__UsersInCl__UserF__269AB60B]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[UsersInClubs]  WITH CHECK ADD FOREIGN KEY([UserFK])
REFERENCES [dbo].[Users] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [UserProfile]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Profiles]  WITH CHECK ADD  CONSTRAINT [UserProfile] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Profiles] CHECK CONSTRAINT [UserProfile]
GO
/****** Object:  ForeignKey [FK__NewsFeedS__NewsF__6C040022]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[NewsFeedShowings]  WITH CHECK ADD FOREIGN KEY([NewsFeedFk])
REFERENCES [dbo].[NewsFeeds] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [UsersInRoleRole]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[UsersInRoles]  WITH CHECK ADD  CONSTRAINT [UsersInRoleRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UsersInRoles] CHECK CONSTRAINT [UsersInRoleRole]
GO
/****** Object:  ForeignKey [UsersInRoleUser]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[UsersInRoles]  WITH CHECK ADD  CONSTRAINT [UsersInRoleUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UsersInRoles] CHECK CONSTRAINT [UsersInRoleUser]
GO
/****** Object:  ForeignKey [FK__UsersInCl__Roles__2E3BD7D3]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[UsersInClubsInRoles]  WITH CHECK ADD FOREIGN KEY([RolesFK])
REFERENCES [dbo].[Roles] ([RoleId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__UsersInCl__Users__2D47B39A]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[UsersInClubsInRoles]  WITH CHECK ADD FOREIGN KEY([UsersInClubsFK])
REFERENCES [dbo].[UsersInClubs] ([UsersInClubsKey])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__UserAd__UserInCl__7246E95D]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[UserAd]  WITH CHECK ADD FOREIGN KEY([UserInClubFk])
REFERENCES [dbo].[UsersInClubs] ([UsersInClubsKey])
GO
/****** Object:  ForeignKey [FK__Tournamen__Membe__1F198FD4]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[TournamentMember]  WITH CHECK ADD FOREIGN KEY([MemberFk])
REFERENCES [dbo].[Member] ([MemberKey])
GO
/****** Object:  ForeignKey [FK__Tournamen__Tourn__200DB40D]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[TournamentMember]  WITH CHECK ADD FOREIGN KEY([TournamentFk])
REFERENCES [dbo].[Tournaments] ([TournamentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__BookingBa__Booki__10416098]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[BookingBase]  WITH CHECK ADD FOREIGN KEY([BookingSeriesFk])
REFERENCES [dbo].[BookingSeries] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK__BookingBa__Tourn__5B638405]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[BookingBase]  WITH CHECK ADD FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournaments] ([TournamentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  ForeignKey [FK_Booking_Court]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[BookingBase]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Court] FOREIGN KEY([CourtFk])
REFERENCES [dbo].[Court] ([CourtKey])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingBase] CHECK CONSTRAINT [FK_Booking_Court]
GO
/****** Object:  ForeignKey [FK_BookingBase_Member_0]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[BookingBase]  WITH CHECK ADD  CONSTRAINT [FK_BookingBase_Member_0] FOREIGN KEY([Member0Fk])
REFERENCES [dbo].[Member] ([MemberKey])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BookingBase] CHECK CONSTRAINT [FK_BookingBase_Member_0]
GO
/****** Object:  ForeignKey [FK_BookingBase_Member_1]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[BookingBase]  WITH CHECK ADD  CONSTRAINT [FK_BookingBase_Member_1] FOREIGN KEY([Member1Fk])
REFERENCES [dbo].[Member] ([MemberKey])
GO
ALTER TABLE [dbo].[BookingBase] CHECK CONSTRAINT [FK_BookingBase_Member_1]
GO
/****** Object:  ForeignKey [FK_BookingBase_Member_2]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[BookingBase]  WITH CHECK ADD  CONSTRAINT [FK_BookingBase_Member_2] FOREIGN KEY([Member2Fk])
REFERENCES [dbo].[Member] ([MemberKey])
GO
ALTER TABLE [dbo].[BookingBase] CHECK CONSTRAINT [FK_BookingBase_Member_2]
GO
/****** Object:  ForeignKey [FK_BookingBase_Member_3]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[BookingBase]  WITH CHECK ADD  CONSTRAINT [FK_BookingBase_Member_3] FOREIGN KEY([Member3Fk])
REFERENCES [dbo].[Member] ([MemberKey])
GO
ALTER TABLE [dbo].[BookingBase] CHECK CONSTRAINT [FK_BookingBase_Member_3]
GO
/****** Object:  ForeignKey [FK__Bank__MemberFk__67C95AEA]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Bank]  WITH CHECK ADD FOREIGN KEY([MemberFk])
REFERENCES [dbo].[Member] ([MemberKey])
GO
/****** Object:  ForeignKey [FK_Rfid_Member]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[Rfid]  WITH CHECK ADD  CONSTRAINT [FK_Rfid_Member] FOREIGN KEY([MemberFk])
REFERENCES [dbo].[Member] ([MemberKey])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Rfid] CHECK CONSTRAINT [FK_Rfid_Member]
GO
/****** Object:  ForeignKey [FK__RankedMem__Ranke__66161CA2]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[RankedMember]  WITH CHECK ADD FOREIGN KEY([RankedMemberFk])
REFERENCES [dbo].[UsersInClubs] ([UsersInClubsKey])
GO
/****** Object:  ForeignKey [FK__RankedGam__Booki__6EAB62A3]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[RankedGame]  WITH CHECK ADD FOREIGN KEY([BookingFk])
REFERENCES [dbo].[BookingBase] ([BookingKey])
GO
/****** Object:  ForeignKey [FK__RankedGam__Winne__6F9F86DC]    Script Date: 07/28/2014 13:59:48 ******/
ALTER TABLE [dbo].[RankedGame]  WITH CHECK ADD FOREIGN KEY([WinnerFk])
REFERENCES [dbo].[Member] ([MemberKey])
GO
