@using TennisWeb.Utils;
@model dynamic

@{
    ViewBag.Title = "RecoverySuccess";
    ViewBag.NavTopCat = NavigationTopCat.Profile;
}

<p>
  Für Ihr Konto wurde ein neues Passwort erzeugt und an Ihre E-Mail-Adresse gesendet.
</p>
